--
-- PostgreSQL database dump
--

\restrict UErTHX1JXpq2h9lYpAZFnmHTAsIOquxbOvA0tTIQf3Fx8KbrLpA0qvOUkRotlXC

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: formapagamento; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.formapagamento AS ENUM (
    'DINHEIRO',
    'PIX',
    'CARTAO_CREDITO',
    'TRANSFERENCIA',
    'BOLETO'
);


ALTER TYPE public.formapagamento OWNER TO postgres;

--
-- Name: perfil; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.perfil AS ENUM (
    'ADMIN',
    'GERENTE',
    'TECNICO',
    'VISUALIZADOR'
);


ALTER TYPE public.perfil OWNER TO postgres;

--
-- Name: prioridadeos; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.prioridadeos AS ENUM (
    'BAIXA',
    'NORMAL',
    'ALTA',
    'URGENTE'
);


ALTER TYPE public.prioridadeos OWNER TO postgres;

--
-- Name: statusevento; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.statusevento AS ENUM (
    'AGENDADO',
    'CONFIRMADO',
    'EM_ANDAMENTO',
    'CONCLUIDO',
    'CANCELADO'
);


ALTER TYPE public.statusevento OWNER TO postgres;

--
-- Name: statusorcamento; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.statusorcamento AS ENUM (
    'RASCUNHO',
    'ENVIADO',
    'VISUALIZADO',
    'APROVADO',
    'RECUSADO',
    'EXPIRADO',
    'CONVERTIDO'
);


ALTER TYPE public.statusorcamento OWNER TO postgres;

--
-- Name: statusos; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.statusos AS ENUM (
    'PENDENTE',
    'CONFIRMADA',
    'EM_ANDAMENTO',
    'CONCLUIDA',
    'CANCELADA',
    'AGUARDANDO'
);


ALTER TYPE public.statusos OWNER TO postgres;

--
-- Name: statuspagamento; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.statuspagamento AS ENUM (
    'PENDENTE',
    'PARCIAL',
    'PAGO',
    'ATRASADO'
);


ALTER TYPE public.statuspagamento OWNER TO postgres;

--
-- Name: statustransacao; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.statustransacao AS ENUM (
    'PENDENTE',
    'PAGO',
    'ATRASADO',
    'CANCELADO'
);


ALTER TYPE public.statustransacao OWNER TO postgres;

--
-- Name: tipocalculoorcamento; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipocalculoorcamento AS ENUM (
    'automatico',
    'manual'
);


ALTER TYPE public.tipocalculoorcamento OWNER TO postgres;

--
-- Name: tipocliente; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipocliente AS ENUM (
    'RESIDENCIAL',
    'COMERCIAL'
);


ALTER TYPE public.tipocliente OWNER TO postgres;

--
-- Name: tipodocumento; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipodocumento AS ENUM (
    'CPF',
    'CNPJ'
);


ALTER TYPE public.tipodocumento OWNER TO postgres;

--
-- Name: tipoevento; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipoevento AS ENUM (
    'SERVICO',
    'REUNIAO',
    'MANUTENCAO',
    'INDISPONIVEL',
    'OUTRO'
);


ALTER TYPE public.tipoevento OWNER TO postgres;

--
-- Name: tipofoto; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipofoto AS ENUM (
    'ANTES',
    'DURANTE',
    'DEPOIS',
    'PROBLEMA',
    'OUTRO'
);


ALTER TYPE public.tipofoto OWNER TO postgres;

--
-- Name: tipomovimentacao; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipomovimentacao AS ENUM (
    'ENTRADA',
    'SAIDA',
    'AJUSTE',
    'TRANSFERENCIA',
    'COMPRA',
    'USO_OS'
);


ALTER TYPE public.tipomovimentacao OWNER TO postgres;

--
-- Name: tiponotificacao; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tiponotificacao AS ENUM (
    'INFO',
    'SUCESSO',
    'AVISO',
    'ERRO',
    'LEMBRETE'
);


ALTER TYPE public.tiponotificacao OWNER TO postgres;

--
-- Name: tipotransacao; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipotransacao AS ENUM (
    'RECEITA',
    'DESPESA'
);


ALTER TYPE public.tipotransacao OWNER TO postgres;

--
-- Name: unidade; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.unidade AS ENUM (
    'UNIDADE',
    'METRO',
    'LITRO',
    'KG',
    'CAIXA',
    'ROLO',
    'PAR'
);


ALTER TYPE public.unidade OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agenda; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agenda (
    id character varying(36) NOT NULL,
    titulo character varying(255) NOT NULL,
    ordem_servico_id character varying(36),
    tecnico_id character varying(36) NOT NULL,
    cliente_id character varying(36),
    data_hora_inicio timestamp with time zone NOT NULL,
    data_hora_fim timestamp with time zone NOT NULL,
    tipo_evento public.tipoevento NOT NULL,
    status public.statusevento NOT NULL,
    endereco character varying(500),
    latitude double precision,
    longitude double precision,
    observacoes text,
    cor character varying(7) NOT NULL,
    id_evento_google_calendar character varying(255),
    lembrete_enviado boolean NOT NULL,
    criado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.agenda OWNER TO postgres;

--
-- Name: categorias_estoque; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categorias_estoque (
    id character varying(36) NOT NULL,
    nome character varying(100) NOT NULL,
    cor character varying(7) NOT NULL,
    icone character varying(50) NOT NULL,
    categoria_pai_id character varying(36),
    ativo boolean NOT NULL
);


ALTER TABLE public.categorias_estoque OWNER TO postgres;

--
-- Name: categorias_financeiras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categorias_financeiras (
    id character varying(36) NOT NULL,
    nome character varying(100) NOT NULL,
    tipo public.tipotransacao NOT NULL,
    cor character varying(7) NOT NULL,
    icone character varying(50) NOT NULL,
    ativo boolean NOT NULL
);


ALTER TABLE public.categorias_financeiras OWNER TO postgres;

--
-- Name: categorias_servico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categorias_servico (
    id character varying(36) NOT NULL,
    nome character varying(100) NOT NULL,
    descricao character varying(500),
    icone character varying(50) NOT NULL,
    cor character varying(7) NOT NULL,
    duracao_padrao_minutos integer NOT NULL,
    preco_minimo double precision NOT NULL,
    preco_maximo double precision NOT NULL,
    categoria_pai_id character varying(36),
    ativo boolean NOT NULL,
    criado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.categorias_servico OWNER TO postgres;

--
-- Name: checklist_ordem_servico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checklist_ordem_servico (
    id character varying(36) NOT NULL,
    ordem_servico_id character varying(36) NOT NULL,
    descricao character varying(255) NOT NULL,
    concluido boolean NOT NULL,
    concluido_em timestamp with time zone,
    concluido_por character varying(36)
);


ALTER TABLE public.checklist_ordem_servico OWNER TO postgres;

--
-- Name: clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes (
    id character varying(36) NOT NULL,
    nome character varying(255) NOT NULL,
    email character varying(255),
    telefone character varying(20),
    whatsapp character varying(20),
    tipo_documento public.tipodocumento NOT NULL,
    numero_documento character varying(20),
    tipo_cliente public.tipocliente NOT NULL,
    logradouro character varying(255),
    numero character varying(20),
    complemento character varying(255),
    bairro character varying(100),
    cidade character varying(100),
    estado character varying(2),
    cep character varying(10),
    latitude double precision,
    longitude double precision,
    observacoes character varying(2000),
    avaliacao integer,
    ativo boolean NOT NULL,
    criado_por character varying(36) NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    atualizado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.clientes OWNER TO postgres;

--
-- Name: configuracoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.configuracoes (
    chave character varying(100) NOT NULL,
    valor text NOT NULL,
    descricao character varying(500),
    atualizado_por character varying(36),
    atualizado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.configuracoes OWNER TO postgres;

--
-- Name: enderecos_cliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enderecos_cliente (
    id character varying(36) NOT NULL,
    cliente_id character varying(36) NOT NULL,
    rotulo character varying(50) NOT NULL,
    logradouro character varying(255) NOT NULL,
    numero character varying(20) NOT NULL,
    complemento character varying(255),
    bairro character varying(100) NOT NULL,
    cidade character varying(100) NOT NULL,
    estado character varying(2) NOT NULL,
    cep character varying(10) NOT NULL,
    padrao boolean NOT NULL,
    latitude double precision,
    longitude double precision,
    criado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.enderecos_cliente OWNER TO postgres;

--
-- Name: fotos_ordem_servico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fotos_ordem_servico (
    id character varying(36) NOT NULL,
    ordem_servico_id character varying(36) NOT NULL,
    enviado_por character varying(36) NOT NULL,
    url_arquivo character varying(500) NOT NULL,
    url_miniatura character varying(500),
    legenda character varying(255),
    tipo_foto public.tipofoto NOT NULL,
    tirada_em timestamp with time zone,
    criada_em timestamp with time zone NOT NULL
);


ALTER TABLE public.fotos_ordem_servico OWNER TO postgres;

--
-- Name: historico_acesso; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historico_acesso (
    id character varying(36) NOT NULL,
    usuario_id character varying(36),
    ip character varying(50),
    dispositivo character varying(255),
    status character varying(20) NOT NULL,
    criado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.historico_acesso OWNER TO postgres;

--
-- Name: itens_estoque; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.itens_estoque (
    id character varying(36) NOT NULL,
    sku character varying(50) NOT NULL,
    nome character varying(255) NOT NULL,
    descricao character varying(1000),
    categoria_id character varying(36) NOT NULL,
    unidade public.unidade NOT NULL,
    estoque_atual double precision NOT NULL,
    estoque_minimo double precision NOT NULL,
    estoque_maximo double precision NOT NULL,
    custo_unitario double precision NOT NULL,
    preco_venda double precision NOT NULL,
    percentual_markup double precision NOT NULL,
    fornecedor character varying(255),
    codigo_fornecedor character varying(50),
    url_imagem character varying(500),
    codigo_barras character varying(50),
    localizacao_estoque character varying(100),
    ativo boolean NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    atualizado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.itens_estoque OWNER TO postgres;

--
-- Name: itens_orcamento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.itens_orcamento (
    id character varying(36) NOT NULL,
    orcamento_id character varying(36) NOT NULL,
    item_estoque_id character varying(36),
    descricao character varying(255) NOT NULL,
    quantidade double precision NOT NULL,
    unidade character varying(20) NOT NULL,
    preco_unitario double precision NOT NULL,
    preco_total double precision NOT NULL,
    ordem integer NOT NULL
);


ALTER TABLE public.itens_orcamento OWNER TO postgres;

--
-- Name: itens_ordem_servico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.itens_ordem_servico (
    id character varying(36) NOT NULL,
    ordem_servico_id character varying(36) NOT NULL,
    item_estoque_id character varying(36),
    descricao character varying(255) NOT NULL,
    quantidade double precision NOT NULL,
    unidade character varying(20) NOT NULL,
    custo_unitario double precision NOT NULL,
    custo_total double precision NOT NULL,
    compra_externa boolean NOT NULL,
    criado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.itens_ordem_servico OWNER TO postgres;

--
-- Name: logs_auditoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logs_auditoria (
    id character varying(36) NOT NULL,
    usuario_id character varying(36),
    acao character varying(100) NOT NULL,
    tipo_entidade character varying(50) NOT NULL,
    id_entidade character varying(36) NOT NULL,
    alteracoes text,
    ip character varying(50),
    user_agent character varying(500),
    criado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.logs_auditoria OWNER TO postgres;

--
-- Name: movimentacoes_estoque; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimentacoes_estoque (
    id character varying(36) NOT NULL,
    item_estoque_id character varying(36) NOT NULL,
    usuario_id character varying(36) NOT NULL,
    tipo_movimentacao public.tipomovimentacao NOT NULL,
    quantidade double precision NOT NULL,
    custo_unitario double precision NOT NULL,
    custo_total double precision NOT NULL,
    referencia_id character varying(36),
    tipo_referencia character varying(50),
    observacoes character varying(500),
    criado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.movimentacoes_estoque OWNER TO postgres;

--
-- Name: notificacoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notificacoes (
    id character varying(36) NOT NULL,
    usuario_id character varying(36) NOT NULL,
    titulo character varying(255) NOT NULL,
    corpo text NOT NULL,
    tipo public.tiponotificacao NOT NULL,
    tipo_entidade character varying(50),
    id_entidade character varying(36),
    lida boolean NOT NULL,
    lida_em timestamp with time zone,
    url_acao character varying(500),
    criado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.notificacoes OWNER TO postgres;

--
-- Name: orcamentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orcamentos (
    id character varying(36) NOT NULL,
    numero_orcamento character varying(20) NOT NULL,
    cliente_id character varying(36) NOT NULL,
    criado_por character varying(36) NOT NULL,
    status public.statusorcamento NOT NULL,
    titulo character varying(255) NOT NULL,
    descricao text NOT NULL,
    observacoes_internas text,
    valido_ate timestamp with time zone,
    tipo_calculo public.tipocalculoorcamento NOT NULL,
    subtotal double precision NOT NULL,
    tipo_desconto character varying(10),
    valor_desconto double precision NOT NULL,
    taxa_imposto double precision NOT NULL,
    valor_total_manual double precision NOT NULL,
    total double precision NOT NULL,
    condicoes_pagamento text,
    garantia text,
    url_pdf character varying(500),
    token_acesso_publico character varying(64),
    convertido_para_os_id character varying(36),
    enviado_em timestamp with time zone,
    visualizado_em timestamp with time zone,
    aprovado_em timestamp with time zone,
    criado_em timestamp with time zone NOT NULL,
    atualizado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.orcamentos OWNER TO postgres;

--
-- Name: ordens_servico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ordens_servico (
    id character varying(36) NOT NULL,
    numero_os character varying(20) NOT NULL,
    cliente_id character varying(36) NOT NULL,
    tecnico_id character varying(36),
    status public.statusos NOT NULL,
    prioridade public.prioridadeos NOT NULL,
    tipo_servico_id character varying(36) NOT NULL,
    titulo character varying(255) NOT NULL,
    descricao text NOT NULL,
    observacoes_internas text,
    data_agendada timestamp with time zone,
    hora_inicio character varying(5),
    hora_fim character varying(5),
    data_conclusao timestamp with time zone,
    duracao_minutos integer,
    endereco_id character varying(36),
    valor_estimado double precision NOT NULL,
    valor_final double precision NOT NULL,
    status_pagamento public.statuspagamento NOT NULL,
    forma_pagamento public.formapagamento,
    emitir_nota boolean NOT NULL,
    url_assinatura_cliente character varying(500),
    token_acesso_publico character varying(64),
    criado_por character varying(36) NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    atualizado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.ordens_servico OWNER TO postgres;

--
-- Name: sessoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessoes (
    id character varying(36) NOT NULL,
    usuario_id character varying(36) NOT NULL,
    refresh_token character varying(500) NOT NULL,
    dispositivo character varying(255),
    ip character varying(50),
    user_agent character varying(500),
    ativa boolean NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    ultimo_acesso timestamp with time zone NOT NULL
);


ALTER TABLE public.sessoes OWNER TO postgres;

--
-- Name: transacoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transacoes (
    id character varying(36) NOT NULL,
    numero_transacao character varying(20) NOT NULL,
    tipo public.tipotransacao NOT NULL,
    categoria_id character varying(36) NOT NULL,
    ordem_servico_id character varying(36),
    orcamento_id character varying(36),
    cliente_id character varying(36),
    fornecedor_id character varying(36),
    descricao character varying(255) NOT NULL,
    valor double precision NOT NULL,
    data_vencimento timestamp with time zone NOT NULL,
    data_pagamento timestamp with time zone,
    status public.statustransacao NOT NULL,
    forma_pagamento character varying(50),
    conta_bancaria character varying(100),
    url_comprovante character varying(500),
    recorrente boolean NOT NULL,
    intervalo_recorrencia character varying(50),
    observacoes text,
    criado_por character varying(36) NOT NULL,
    criado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.transacoes OWNER TO postgres;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id character varying(36) NOT NULL,
    email character varying(255) NOT NULL,
    senha_hash character varying(255) NOT NULL,
    nome_completo character varying(255) NOT NULL,
    perfil public.perfil NOT NULL,
    avatar_url character varying(500),
    telefone character varying(20),
    ativo boolean NOT NULL,
    verificado boolean NOT NULL,
    ultimo_login timestamp with time zone,
    criado_em timestamp with time zone NOT NULL,
    atualizado_em timestamp with time zone NOT NULL
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Data for Name: agenda; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categorias_estoque; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categorias_financeiras; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categorias_servico; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: checklist_ordem_servico; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: configuracoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.configuracoes (chave, valor, descricao, atualizado_por, atualizado_em) FROM stdin;
\.


--
-- Data for Name: enderecos_cliente; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.enderecos_cliente (id, cliente_id, rotulo, logradouro, numero, complemento, bairro, cidade, estado, cep, padrao, latitude, longitude, criado_em) FROM stdin;
\.


--
-- Data for Name: fotos_ordem_servico; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fotos_ordem_servico (id, ordem_servico_id, enviado_por, url_arquivo, url_miniatura, legenda, tipo_foto, tirada_em, criada_em) FROM stdin;
\.


--
-- Data for Name: historico_acesso; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: itens_estoque; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: itens_orcamento; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: itens_ordem_servico; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: logs_auditoria; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logs_auditoria (id, usuario_id, acao, tipo_entidade, id_entidade, alteracoes, ip, user_agent, criado_em) FROM stdin;
\.


--
-- Data for Name: movimentacoes_estoque; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.movimentacoes_estoque (id, item_estoque_id, usuario_id, tipo_movimentacao, quantidade, custo_unitario, custo_total, referencia_id, tipo_referencia, observacoes, criado_em) FROM stdin;
\.


--
-- Data for Name: notificacoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notificacoes (id, usuario_id, titulo, corpo, tipo, tipo_entidade, id_entidade, lida, lida_em, url_acao, criado_em) FROM stdin;
\.


--
-- Data for Name: orcamentos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ordens_servico; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sessoes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transacoes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: agenda agenda_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda
    ADD CONSTRAINT agenda_pkey PRIMARY KEY (id);


--
-- Name: categorias_estoque categorias_estoque_nome_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias_estoque
    ADD CONSTRAINT categorias_estoque_nome_key UNIQUE (nome);


--
-- Name: categorias_estoque categorias_estoque_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias_estoque
    ADD CONSTRAINT categorias_estoque_pkey PRIMARY KEY (id);


--
-- Name: categorias_financeiras categorias_financeiras_nome_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias_financeiras
    ADD CONSTRAINT categorias_financeiras_nome_key UNIQUE (nome);


--
-- Name: categorias_financeiras categorias_financeiras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias_financeiras
    ADD CONSTRAINT categorias_financeiras_pkey PRIMARY KEY (id);


--
-- Name: categorias_servico categorias_servico_nome_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias_servico
    ADD CONSTRAINT categorias_servico_nome_key UNIQUE (nome);


--
-- Name: categorias_servico categorias_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias_servico
    ADD CONSTRAINT categorias_servico_pkey PRIMARY KEY (id);


--
-- Name: checklist_ordem_servico checklist_ordem_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_ordem_servico
    ADD CONSTRAINT checklist_ordem_servico_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: configuracoes configuracoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracoes
    ADD CONSTRAINT configuracoes_pkey PRIMARY KEY (chave);


--
-- Name: enderecos_cliente enderecos_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enderecos_cliente
    ADD CONSTRAINT enderecos_cliente_pkey PRIMARY KEY (id);


--
-- Name: fotos_ordem_servico fotos_ordem_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fotos_ordem_servico
    ADD CONSTRAINT fotos_ordem_servico_pkey PRIMARY KEY (id);


--
-- Name: historico_acesso historico_acesso_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historico_acesso
    ADD CONSTRAINT historico_acesso_pkey PRIMARY KEY (id);


--
-- Name: itens_estoque itens_estoque_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_estoque
    ADD CONSTRAINT itens_estoque_pkey PRIMARY KEY (id);


--
-- Name: itens_orcamento itens_orcamento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_orcamento
    ADD CONSTRAINT itens_orcamento_pkey PRIMARY KEY (id);


--
-- Name: itens_ordem_servico itens_ordem_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_ordem_servico
    ADD CONSTRAINT itens_ordem_servico_pkey PRIMARY KEY (id);


--
-- Name: logs_auditoria logs_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_auditoria
    ADD CONSTRAINT logs_auditoria_pkey PRIMARY KEY (id);


--
-- Name: movimentacoes_estoque movimentacoes_estoque_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_estoque
    ADD CONSTRAINT movimentacoes_estoque_pkey PRIMARY KEY (id);


--
-- Name: notificacoes notificacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificacoes
    ADD CONSTRAINT notificacoes_pkey PRIMARY KEY (id);


--
-- Name: orcamentos orcamentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orcamentos
    ADD CONSTRAINT orcamentos_pkey PRIMARY KEY (id);


--
-- Name: ordens_servico ordens_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordens_servico
    ADD CONSTRAINT ordens_servico_pkey PRIMARY KEY (id);


--
-- Name: sessoes sessoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessoes
    ADD CONSTRAINT sessoes_pkey PRIMARY KEY (id);


--
-- Name: sessoes sessoes_refresh_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessoes
    ADD CONSTRAINT sessoes_refresh_token_key UNIQUE (refresh_token);


--
-- Name: transacoes transacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transacoes
    ADD CONSTRAINT transacoes_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: ix_itens_estoque_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_itens_estoque_sku ON public.itens_estoque USING btree (sku);


--
-- Name: ix_orcamentos_numero_orcamento; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_orcamentos_numero_orcamento ON public.orcamentos USING btree (numero_orcamento);


--
-- Name: ix_orcamentos_token_acesso_publico; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_orcamentos_token_acesso_publico ON public.orcamentos USING btree (token_acesso_publico);


--
-- Name: ix_ordens_servico_numero_os; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_ordens_servico_numero_os ON public.ordens_servico USING btree (numero_os);


--
-- Name: ix_ordens_servico_token_acesso_publico; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_ordens_servico_token_acesso_publico ON public.ordens_servico USING btree (token_acesso_publico);


--
-- Name: ix_transacoes_numero_transacao; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_transacoes_numero_transacao ON public.transacoes USING btree (numero_transacao);


--
-- Name: ix_usuarios_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: agenda agenda_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda
    ADD CONSTRAINT agenda_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: agenda agenda_ordem_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda
    ADD CONSTRAINT agenda_ordem_servico_id_fkey FOREIGN KEY (ordem_servico_id) REFERENCES public.ordens_servico(id);


--
-- Name: agenda agenda_tecnico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda
    ADD CONSTRAINT agenda_tecnico_id_fkey FOREIGN KEY (tecnico_id) REFERENCES public.usuarios(id);


--
-- Name: categorias_estoque categorias_estoque_categoria_pai_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias_estoque
    ADD CONSTRAINT categorias_estoque_categoria_pai_id_fkey FOREIGN KEY (categoria_pai_id) REFERENCES public.categorias_estoque(id);


--
-- Name: categorias_servico categorias_servico_categoria_pai_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categorias_servico
    ADD CONSTRAINT categorias_servico_categoria_pai_id_fkey FOREIGN KEY (categoria_pai_id) REFERENCES public.categorias_servico(id);


--
-- Name: checklist_ordem_servico checklist_ordem_servico_concluido_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_ordem_servico
    ADD CONSTRAINT checklist_ordem_servico_concluido_por_fkey FOREIGN KEY (concluido_por) REFERENCES public.usuarios(id);


--
-- Name: checklist_ordem_servico checklist_ordem_servico_ordem_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_ordem_servico
    ADD CONSTRAINT checklist_ordem_servico_ordem_servico_id_fkey FOREIGN KEY (ordem_servico_id) REFERENCES public.ordens_servico(id);


--
-- Name: clientes clientes_criado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id);


--
-- Name: configuracoes configuracoes_atualizado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracoes
    ADD CONSTRAINT configuracoes_atualizado_por_fkey FOREIGN KEY (atualizado_por) REFERENCES public.usuarios(id);


--
-- Name: enderecos_cliente enderecos_cliente_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enderecos_cliente
    ADD CONSTRAINT enderecos_cliente_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: fotos_ordem_servico fotos_ordem_servico_enviado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fotos_ordem_servico
    ADD CONSTRAINT fotos_ordem_servico_enviado_por_fkey FOREIGN KEY (enviado_por) REFERENCES public.usuarios(id);


--
-- Name: fotos_ordem_servico fotos_ordem_servico_ordem_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fotos_ordem_servico
    ADD CONSTRAINT fotos_ordem_servico_ordem_servico_id_fkey FOREIGN KEY (ordem_servico_id) REFERENCES public.ordens_servico(id);


--
-- Name: historico_acesso historico_acesso_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historico_acesso
    ADD CONSTRAINT historico_acesso_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: itens_estoque itens_estoque_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_estoque
    ADD CONSTRAINT itens_estoque_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categorias_estoque(id);


--
-- Name: itens_orcamento itens_orcamento_item_estoque_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_orcamento
    ADD CONSTRAINT itens_orcamento_item_estoque_id_fkey FOREIGN KEY (item_estoque_id) REFERENCES public.itens_estoque(id);


--
-- Name: itens_orcamento itens_orcamento_orcamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_orcamento
    ADD CONSTRAINT itens_orcamento_orcamento_id_fkey FOREIGN KEY (orcamento_id) REFERENCES public.orcamentos(id);


--
-- Name: itens_ordem_servico itens_ordem_servico_item_estoque_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_ordem_servico
    ADD CONSTRAINT itens_ordem_servico_item_estoque_id_fkey FOREIGN KEY (item_estoque_id) REFERENCES public.itens_estoque(id);


--
-- Name: itens_ordem_servico itens_ordem_servico_ordem_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_ordem_servico
    ADD CONSTRAINT itens_ordem_servico_ordem_servico_id_fkey FOREIGN KEY (ordem_servico_id) REFERENCES public.ordens_servico(id);


--
-- Name: logs_auditoria logs_auditoria_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs_auditoria
    ADD CONSTRAINT logs_auditoria_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: movimentacoes_estoque movimentacoes_estoque_item_estoque_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_estoque
    ADD CONSTRAINT movimentacoes_estoque_item_estoque_id_fkey FOREIGN KEY (item_estoque_id) REFERENCES public.itens_estoque(id);


--
-- Name: movimentacoes_estoque movimentacoes_estoque_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_estoque
    ADD CONSTRAINT movimentacoes_estoque_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: notificacoes notificacoes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificacoes
    ADD CONSTRAINT notificacoes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: orcamentos orcamentos_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orcamentos
    ADD CONSTRAINT orcamentos_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: orcamentos orcamentos_convertido_para_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orcamentos
    ADD CONSTRAINT orcamentos_convertido_para_os_id_fkey FOREIGN KEY (convertido_para_os_id) REFERENCES public.ordens_servico(id);


--
-- Name: orcamentos orcamentos_criado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orcamentos
    ADD CONSTRAINT orcamentos_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id);


--
-- Name: ordens_servico ordens_servico_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordens_servico
    ADD CONSTRAINT ordens_servico_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: ordens_servico ordens_servico_criado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordens_servico
    ADD CONSTRAINT ordens_servico_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id);


--
-- Name: ordens_servico ordens_servico_endereco_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordens_servico
    ADD CONSTRAINT ordens_servico_endereco_id_fkey FOREIGN KEY (endereco_id) REFERENCES public.enderecos_cliente(id);


--
-- Name: ordens_servico ordens_servico_tecnico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordens_servico
    ADD CONSTRAINT ordens_servico_tecnico_id_fkey FOREIGN KEY (tecnico_id) REFERENCES public.usuarios(id);


--
-- Name: ordens_servico ordens_servico_tipo_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordens_servico
    ADD CONSTRAINT ordens_servico_tipo_servico_id_fkey FOREIGN KEY (tipo_servico_id) REFERENCES public.categorias_servico(id);


--
-- Name: sessoes sessoes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessoes
    ADD CONSTRAINT sessoes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: transacoes transacoes_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transacoes
    ADD CONSTRAINT transacoes_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categorias_financeiras(id);


--
-- Name: transacoes transacoes_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transacoes
    ADD CONSTRAINT transacoes_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: transacoes transacoes_criado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transacoes
    ADD CONSTRAINT transacoes_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id);


--
-- Name: transacoes transacoes_orcamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transacoes
    ADD CONSTRAINT transacoes_orcamento_id_fkey FOREIGN KEY (orcamento_id) REFERENCES public.orcamentos(id);


--
-- Name: transacoes transacoes_ordem_servico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transacoes
    ADD CONSTRAINT transacoes_ordem_servico_id_fkey FOREIGN KEY (ordem_servico_id) REFERENCES public.ordens_servico(id);


--
-- PostgreSQL database dump complete
--

\unrestrict UErTHX1JXpq2h9lYpAZFnmHTAsIOquxbOvA0tTIQf3Fx8KbrLpA0qvOUkRotlXC

